In [14]:
import pandas as pd

In [15]:
df = pd.read_csv(r"C:\Users\SANDRA\Downloads\spam (1).csv", encoding='ISO-8859-1')  # or latin-1 if needed

In [16]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [17]:
# Rename relevant columns for clarity
df = df.rename(columns={"v1": "label", "v2": "message"})

# Drop unnecessary columns
df = df[["label", "message"]]

# Check for duplicates and missing values
num_duplicates = df.duplicated().sum()
num_missing = df.isnull().sum()

# Display results
num_duplicates, num_missing

(np.int64(403),
 label      0
 message    0
 dtype: int64)

In [18]:
df.dtypes

label      object
message    object
dtype: object

In [19]:
df.isnull().sum()

label      0
message    0
dtype: int64

In [20]:
 df.head(20)

   label                                            message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...
10   ham  I'm gonna be home soon and i don't want to tal...
11  spam  SIX chances to win CASH! From 100 to 20,000 po...
12  spam  URGENT! You have won a 1 week FREE membership ...
13   ham  I've been searching for the right words to tha...
14   ham                I HAVE A DATE ON SUNDAY WITH WILL!!
15  spam  XXXMobileMovieClub: To use your credit, click ...
16   ham                         Oh k...i'm watching here:)
17   ham  Eh u remember how 2 spell his name... Yes i di...
18   ham  Fine if thatåÕs the way u feel. ThatåÕs the wa...
19  spam  England v Macedonia - dont miss the goals/team...

In [21]:
df=df.drop_duplicates(keep='first')

In [22]:
df.shape

(5169, 2)

In [23]:
label_counts = df["label"].value_counts()
label_counts

label
ham     4516
spam     653
Name: count, dtype: int64

In [24]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sandra\appdata\local\programs\python\python312\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sandra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.2.6)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sandra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sandra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (1.5.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\sandra\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Load the dataset


# Inspect the column names in the DataFrame
print(df.columns)

# Keep only relevant columns
df = df [[df.columns[0], df.columns[1]]]
df.columns = ['label', 'message']  # Rename columns

# Convert labels to binary (spam=1, ham=0)
df['label'] = df['label'].map({'ham': 0, 'spam': 1})

# Split data into training (80%) and testing (20%) sets
X_train, X_test, y_train, y_test = train_test_split(df['message'], df['label'], test_size=0.2, random_state=42)

# Convert text messages into numerical features using TF-IDF
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

# Train Logistic Regression model
model = LogisticRegression()
model.fit(X_train_tfidf, y_train)

# Predict on test data
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Model Accuracy: {accuracy:.4f}")
print("Classification Report:\n", report)

Index(['label', 'message'], dtype='object')
Model Accuracy: 0.9662
Classification Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98       889
           1       0.98      0.77      0.86       145

    accuracy                           0.97      1034
   macro avg       0.97      0.89      0.92      1034
weighted avg       0.97      0.97      0.96      1034

In [26]:
import joblib
joblib.dump((vectorizer, model), "spam_classifier.pkl")

['spam_classifier.pkl']